<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <script src={{ url_for('static', filename='js/deviceInfoGrabber.js') }} defer></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-[#000] flex justify-center items-center text-white h-[100vh]">
    <div class="bg-white rounded-lg shadow-[2px_2px_6px_rgba(0,0,0,0.08)] p-6">
        <h1 class="text-4xl font-semibold text-blue-700">Welcome to our Weather App</h1>
        <form method="POST" action="/weather">
            <label for="city" class="text-[#ccc] mt-6 block">Enter the name of your city</label>
            <div class="city_name_field mt-1">
                <input class="block focus:border-0 p-2 city_name" type="text" name="city" placeholder="Enter city name" required>
            </div>
            <input type="hidden" name="device_info" id="deviceInfo" />
            <button class="bg-blue-700 px-4 py-3 mt-6 rounded-md" type="submit">Get Weather</button>
        </form>
    </div>
</body>
</html>